<div class="row">
    @if (ViewBag.message != null)
    {
        <div class="success text-center">
            @ViewBag.message
        </div>
    }
</div>
<div class="container">
    <div class="row">
        @*<p><small>Incase you delete yourself contact pitb.</small></p>*@
        <table class="table table-striped table-bordered">

            @if (ViewBag.AdminUserList != null)
            {
                <tr>
                    <th class="col-md-6">
                        Name
                    </th>
                    <th class="col-md-5">
                        Role
                    </th>
                    <th class="col-md-1">

                    </th>
                </tr>
            }


            @foreach (var x in ViewBag.AdminUserList)
            {
                <tr>
                    <td>
                        @x.UserName
                    </td>
                    <td>
                        Admin
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            @{
                                string AdminId = Convert.ToString(x.Id);
                            }
                            <a href='@Url.Action("Delete", "Users", new { id = AdminId, role = "Admin" })' title="Delete" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href='@Url.Action("ResetPassword", "Users", new { id = AdminId })' title="Reset Password" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></a>
                        </div>
                    </td>
                </tr>
                                }

            @foreach (var y in ViewBag.OptUserList)
            {
                <tr>
                    <td>
                        @y.UserName
                    </td>
                    <td>
                        Operator
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            @{
                                string OperatorId = Convert.ToString(y.Id);
                            }
                            <a href='@Url.Action("Delete", "Users", new {id = OperatorId, role = "Operator" })' title="Delete" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href='@Url.Action("ResetPassword", "Users", new { id = OperatorId })' title="Reset Password" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></a>
                        </div>
                    </td>
                </tr>
                                }
        </table>
    </div>
</div>