@model IEnumerable<AIMH_Sialkot.Models.ViewModel_ApplicationUser>

<div class="row">
    @if (TempData["msg"] != null)
    {
        <div class="success text-center">
            <strong class="text-success">@TempData["msg"]</strong>
        </div>
    }
</div>
<div class="container">
    <div class="row">
        @*<p><small>Incase you delete yourself contact pitb.</small></p>*@


        @if (Model != null && Model.Count() != 0)
        {
            <table class="table table-striped table-bordered">

                    <tr>
                        <th class="col-md-6">
                            Name
                        </th>
                        <th class="col-md-5">
                            Role
                        </th>
                        <th class="col-md-1">

                        </th>
                    </tr>
                

               
                   @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rolename)
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    @{
                                        string AdminId = Convert.ToString(item.id);
                                    }
                                    <a href='@Url.Action("Delete", "Users", new { id = AdminId, role = item.Rolename })' title="Delete" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                                    <a href='@Url.Action("ResetPassword", "Users", new { id = AdminId })' title="Reset Password" target="_blank" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></a>
                                </div>
                            </td>
                        </tr>
                                            }
                                        
            </table>
                                        }

        @if (Model == null && Model.Count() == 0)
        {
            <div class="alert alert-default text-center">
                <a href="~/Account/Register"><strong class="text-danger">No user exists. Click to register a user.</strong></a>
            </div>
        }
    </div>
</div>