@model AIMH_Sialkot.Models.CategoryInfo

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron col-md-offset-2 col-md-8">
    <h4>Category Info</h4>
    <hr />
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
